KafkaServer {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="admin"
    password="KafkaAdmin@1234"
    user_admin="KafkaAdmin@1234"
    user_audit-bridge="AuditBridge@1234"
    user_audit-consumer="AuditConsumer@1234";
};

KafkaClient {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="admin"
    password="KafkaAdmin@1234";
};
